@media only screen and (max-width: 700px) {
  #firma-pilt {
    width: 70vw;
  }
}

@media only screen and (max-width: 500px) {
  .blackcart {
    width: 100%;
  }

  svg {
    display: block;
    margin: auto;
  }

  .firma-tekst {
    margin-top: 20%;
  }

  #firma-pilt {
    width: 80vw;
    margin: auto;
    object-fit: cover;
  }
}
