/* ÜLDINE */
* {
  box-sizing: border-box;
}

/* MENÜÜRIBA */
.hamburger {
  display: none;
  color: white;
}

.hamburger-black {
  color: black;
  display: none;
}

.hamburger-icon {
  width: 30px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  display: none;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.topnav:hover {
  background-color: white;
  transition: 0.5s;
}

.topnav a {
  float: left;
  color: #888888;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Julius Sans One", sans-serif;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: white;
  font-family: "Bungee Inline", cursive;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

.topnav-u {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.topnav-u:hover {
  background-color: black;
  transition: 0.5s;
}

.topnav-u a {
  float: left;
  color: #888888;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Julius Sans One", sans-serif;
}

.topnav-u a:hover {
  background-color: white;
  color: black;
}

.topnav-u a.active {
  background-color: black;
  color: white;
  font-family: "Bungee Inline", cursive;
}

.topnav-centered-u a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right-u {
  float: right;
}

.topnav .active-page {
  text-decoration: underline;
  background-color: black;
  color: white;
}

.line {
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 4px;
}

.blackline {
  height: 4px;
  width: 100%;
  background-color: black;
  margin-bottom: 4px;
}

.hamburger-icon {
  width: 30px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  display: none;
}

ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

nav ul li a {
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
}

ul li {
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.2s;
}

.black {
  color: black;
}

nav a:hover {
  font-size: 20px;
  color: #0196fa;
}

/* TAUST */
.background__image {
  background-image: url("keyboard1.jpg");
  background-repeat: no-repeat;
  size: cover;
}

/* LOGO */
.backg {
  position: relative;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(0.7);
}
.planet {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  background-color: #ff9933;
  top: 45px;
  left: 220px;
}
.r1 {
  background-color: #ffbf80;
  height: 20px;
  width: 110px;
  border-radius: 10px;
  position: relative;
  top: 60px;
  left: 85px;
}
.r2 {
  background-color: #ffbf80;
  height: 15px;
  width: 90px;
  border-radius: 6.5px;
  position: relative;
  top: 80px;
  left: 110px;
}
.r3 {
  background-color: #ffbf80;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  position: relative;
  top: 78px;
  left: 50px;
}
.r4 {
  background-color: #ffbf80;
  height: 22px;
  width: 90px;
  border-radius: 11px;
  position: relative;
  top: 70px;
  left: 12px;
}
.r5 {
  background-color: rgba(204, 102, 0, 0.3);
  height: 15px;
  width: 40px;
  border-radius: 7.5px;
  position: relative;
  bottom: 50px;
  left: 70px;
}
.r6 {
  background-color: rgba(204, 102, 0, 0.3);
  height: 20px;
  width: 60px;
  border-radius: 11px;
  position: relative;
  bottom: 25px;
  left: 10px;
}
.r7 {
  background-color: rgba(204, 102, 0, 0.3);
  height: 15px;
  width: 45px;
  border-radius: 7.5px;
  position: relative;
  top: 40px;
  left: 130px;
}
.r8 {
  background-color: rgba(255, 255, 255, 0.4);
  height: 12px;
  width: 30px;
  border-radius: 7.5px;
  position: relative;
  top: 7px;
  left: 32px;
}
.shad {
  background-color: transparent;
  box-shadow: 15px 15px rgba(204, 102, 0, 0.3);
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  bottom: 164px;
  right: 16px;
}
.astro {
  position: relative;
  left: 131px;
  bottom: 250px;
  transform: rotate(-30deg);
}
.an {
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  bottom: 80px;
  left: 20px;
}
@keyframes flo {
  50% {
    transform: translateY(30px);
  }
}
.tank {
  background-color: #a6a6a6;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  position: relative;
  left: 95px;
  top: 50px;
  transform: rotate(-30deg);
}
.helmet {
  background-color: white;
  height: 93px;
  width: 100px;
  border-radius: 45%;
  position: relative;
  left: 20px;
  z-index: 5;
}
.glass {
  background-color: #666666;
  height: 60px;
  width: 80px;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: relative;
  left: 10px;
  top: 7px;
}
.shine {
  background-color: rgba(166, 166, 166, 0.7);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 15px;
}
.dress {
  background-color: #f2f2f2;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  position: relative;
  bottom: 5px;
  left: 20px;
}
.handr {
  height: 26px;
  width: 75px;
  background-color: #f2f2f2;
  border-radius: 40px;
  position: relative;
  bottom: 138px;
  left: 95px;
  transform: rotate(-20deg);
}
.handl {
  height: 26px;
  width: 75px;
  background-color: #f2f2f2;
  border-radius: 40px;
  position: relative;
  bottom: 111px;
  right: 29px;
  transform: rotate(20deg);
}
.handr1 {
  height: 26px;
  width: 57px;
  background-color: #f2f2f2;
  border-radius: 26px;
  position: relative;
  bottom: 18px;
  left: 35px;
  transform: rotate(90deg);
}
.handl1 {
  height: 26px;
  width: 57px;
  background-color: #f2f2f2;
  border-radius: 26px;
  position: relative;
  bottom: 17px;
  right: 17px;
  transform: rotate(-90deg);
}
.glover {
  height: 28px;
  width: 26px;
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-90deg);
  position: relative;
  bottom: 1px;
  right: 16px;
}
.glovel {
  height: 28px;
  width: 26px;
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(90deg);
  position: relative;
  bottom: 1px;
  left: 42px;
}
.thumbr {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  right: 7px;
  top: 19px;
}
.thumbl {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: 21px;
  top: 19px;
}
.b1 {
  background-color: tomato;
  width: 28px;
  height: 5.5px;
  border-radius: 13px;
  position: relative;
  top: 18px;
  right: 1px;
}
.b2 {
  background-color: tomato;
  width: 28px;
  height: 5.5px;
  border-radius: 13px;
  position: relative;
  top: 18px;
  right: 1px;
}
.c {
  background-color: white;
  width: 55px;
  height: 30px;
  border-radius: 8px;
  position: relative;
  top: 25px;
  left: 23px;
}
.btn1 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #4775ff;
  position: relative;
  left: 5px;
  top: 10px;
}
.btn2 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffd147;
  position: relative;
  left: 21px;
  bottom: 2px;
}
.btn3 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: tomato;
  position: relative;
  bottom: 14px;
  left: 38px;
}
.btn4 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #a6a6a6;
  position: relative;
  left: 19px;
  top: 4px;
}

.legl {
  height: 100px;
  width: 40px;
  background-color: #f2f2f2;
  position: relative;
  bottom: 68px;
  left: 5px;
  transform: rotate(20deg);
}
.legr {
  height: 100px;
  width: 40px;
  background-color: #f2f2f2;
  position: relative;
  bottom: 168px;
  left: 96px;
  transform: rotate(-20deg);
}
.bootl1 {
  background-color: white;
  width: 43px;
  height: 35px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  top: 65px;
  right: 1.5px;
}
.bootr1 {
  background-color: white;
  width: 43px;
  height: 35px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  top: 65px;
  right: 1.5px;
}
.bootl2 {
  background-color: tomato;
  width: 45px;
  height: 5px;
  border-radius: 21px;
  position: relative;
  top: 30px;
  right: 1.5px;
}
.bootr2 {
  background-color: tomato;
  width: 45px;
  height: 5px;
  border-radius: 21px;
  position: relative;
  top: 30px;
  right: 1.5px;
}
.pipe {
  background-color: transparent;
  height: 80px;
  width: 80px;
  border: 10px solid #4775ff;
  border-radius: 40px 0px 0px 70px;
  border-right: none;
  transform: rotate(180deg);
  position: relative;
  bottom: 330px;
  left: 130px;
}
.pipe2 {
  background-color: transparent;
  height: 90px;
  width: 42px;
  border: 10px solid #4775ff;
  border-radius: 40px 0px 0px 0px;
  border-right: none;
  transform: rotate(90deg);
  position: relative;
  border-bottom: none;
  left: 67px;
  bottom: 34px;
}
.pipe3 {
  height: 10px;
  width: 10px;
  background-color: #4775ff;
  position: relative;
  border-radius: 65%;
  bottom: 10px;
  left: 37px;
}
.s1,
.s2,
.s3,
.s4,
.s5,
.s6 {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
}
.s1 {
  bottom: 150px;
  left: 200px;
}
.s2 {
  top: 130px;
  left: 254px;
}
.s3 {
  bottom: 98px;
  left: 65px;
}
.s4 {
  top: 216px;
  left: 249px;
}
.s5 {
  top: 139px;
  left: 100px;
}
.s6 {
  top: 60px;
  left: 370px;
}

text {
  fill: red;
}

/* TEKSTIDE STIIL JA SUURUS */
h1 {
  font-size: 900%;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 30px;
}

h2 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

p {
  width: 90%;
  text-align: justify;
}

/* TOOTED LEHT */
.tooted__pealkiri {
  text-align: center;
  color: black;
  font-size: 40px;
  margin-top: 20px;
}

#toode1 {
  width: 100%;
  height: 200px;
}

.tooted {
  margin: 0 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.toote__kast {
  margin: 50px 2%;
  align-items: center;
  box-shadow: 2px 2px 10px grey;
  width: 19%;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.toote__kast:hover {
  border: 1px solid black;
  background-color: rgb(155, 255, 247);
}

/* NUPUD */
.dropbtn {
  background-color: #0196fa;
  color: white;
  padding: 5px;
  font-size: 15px;
  border: 2px solid black;
  font-family: "Josefin Sans", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  background-color: #0196fa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0;
}

button:hover {
  transition: 0.75s;
  background-color: rgb(27, 6, 221);
}

.tekst-button {
  font-size: 30px;
  margin: 0 50px;
  grid-column-start: 3;
  grid-column-end: 5;
  color: white;
}

.button2 {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  display: flex;
  position: relative;
}

.button3 {
  background-color: rgb(140, 196, 12);
  color: rgb(255, 255, 255);
  border: 2px solid #4caf50;
  margin-right: 10%;
}

.button3:hover {
  background-color: #105e13;
  color: white;
}

.button4 {
  background-color: #0196fa;
  color: rgb(255, 255, 255);
  border: 2px solid #008cba;
}

.button4:hover {
  background-color: rgb(27, 6, 221);
  color: white;
}

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}

button[class*="btn"] {
  height: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

.plus-btn,
.minus-btn {
  color: black;
}

.maksma-btn {
  background-color: rgb(140, 196, 12);
  color: rgb(255, 255, 255);
  border: 2px solid #4caf50;
  align-items: center;
  width: 100%;
}

.maksed {
  width: 100%;
}

.ost-tehtud {
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 10% 0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}
/* UUDISTE LEHT */
.uudised__pealkiri {
  text-align: center;
  color: black;
  font-size: 40px;
  margin-top: 20px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.text,
.text1 {
  color: black;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.text1 {
  color: white;
}

.uudised-märkus {
  font-size: 25px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slideshow-container {
  margin-top: 50px;
}
/* ANIMATSIOONID */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: relative;
  display: grid;
}

:root {
  --color-background: #837391;
  --color-primary: #d8d1c0;
  --color-secondary: #a99378;
  --color-tertiary: #272728;
  --color-shadow: #695c74;
  font-size: 0.9vw;
}

*::after,
*::before {
  content: "";
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.skeleton {
  width: 12rem;
  height: 20rem;
  position: relative;
}

.head {
  position: absolute;
  top: 0;
  width: 100%;
  height: 43%;
  animation: skeletonJump 0.5s 4s ease-in-out forwards;
}

.head::before {
  position: absolute;
  top: 0.1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30%;
  height: 50%;
  background: var(--color-primary);
  z-index: -2;
}

.head-hemispheres {
  position: absolute;
  width: 100%;
  height: 85%;
  overflow: hidden;
  z-index: -2;
}

.head-hemispheres::before,
.head-hemispheres::after {
  width: 75%;
  height: 110%;
  position: absolute;
  border-radius: 50%;
  background: var(--color-primary);
}

.head-hemispheres::before {
  left: 0;
}

.head-hemispheres::after {
  right: 0;
}

.eye {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  background: var(--color-tertiary);
  border-radius: 50%;
  bottom: 30%;
  z-index: 2;
}

.eye-shadow {
  position: absolute;
  bottom: calc(30% + 0.3rem);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background: var(--color-secondary);
  z-index: 1;
}

.eye-left,
.eye-shadow-left {
  left: 20%;
  animation: faceX1 0.7s 1s forwards, faceX2 0.7s 1.8s ease-out forwards,
    faceX3 0.7s 2.7s forwards;
}

.eye-right,
.eye-shadow-right {
  right: 20%;
  animation: faceX1 0.7s 1s forwards, faceX2 0.7s 1.8s forwards,
    faceX3 0.7s 2.7s ease-out forwards;
}

.nose {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1.3rem;
  height: 0.7rem;
  background: var(--color-tertiary);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  z-index: 1;
  animation: faceX1 0.7s 1s forwards, faceX2 0.7s 1.8s forwards,
    faceX3 0.7s 2.7s forwards;
}

.nose-shadow {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1.3rem;
  height: 1.1rem;
  background: var(--color-secondary);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  animation: faceX1 0.7s 1s forwards, faceX2 0.7s 1.8s forwards,
    faceX3 0.7s 2.7s forwards;
}

.mouth {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--color-primary);
  width: 50%;
  height: 16%;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.teeth {
  position: absolute;
  bottom: 0;
  width: 0.4rem;
  height: 1rem;
  background: var(--color-secondary);
  border-radius: 3rem 3rem 0 0;
  animation: faceX1 0.7s 1s forwards, faceX2 0.7s 1.8s forwards,
    faceX3 0.7s 2.7s forwards;
}

.teeth-left {
  left: 34%;
}

.teeth-right {
  right: 34%;
}

.below-head-container {
  width: 75%;
  left: 12.5%;
  position: absolute;
  height: 57%;
  bottom: 0;
}

.backbone {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  height: 45%;
  width: 1rem;
  background: var(--color-secondary);
  animation: skeletonJump 0.5s 4s ease-in-out forwards;
}

.backbone::before {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3rem);
  border-radius: 1rem;
  height: 90%;
  background: var(--color-secondary);
}

.body {
  position: absolute;
  top: calc(0.2 * 45%);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.body-inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 62%;
  animation: skeletonJump 0.5s 4s ease-in-out forwards;
}

.main-bone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1rem;
  height: 95%;
  background: var(--color-primary);
}

.shoulder {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2.2rem;
  border-radius: 2rem;
  background: var(--color-primary);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.rib-cage {
  position: absolute;
  width: 1rem;
  height: 0.8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.rib-cage-1 {
  top: 1.5rem;
}

.rib-cage-2 {
  top: 2.8rem;
}

.rib-cage::before {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 100%;
  width: 2.7rem;
  background: var(--color-primary);
  transform: skew(0, 10deg);
}

.rib-cage::after {
  position: absolute;
  top: 50%;
  right: 100%;
  height: 100%;
  width: 2.7rem;
  background: var(--color-primary);
  transform: skew(0, -10deg);
}

.kidney-cover {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5.7rem;
  height: 5.7rem;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  background: var(--color-primary);
  clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
}

.kidney {
  position: absolute;
  bottom: -0.3rem;
  width: 2.8rem;
  height: 1.5rem;
  background: red;
  border-radius: 1rem;
  background: var(--color-primary);
  z-index: 1;
}

.kidney-left {
  right: 50%;
  transform-origin: right center;
  transform: rotate(35deg);
}

.kidney-right {
  left: 50%;
  transform-origin: left center;
  transform: rotate(-35deg);
}

.hand {
  position: absolute;
  top: 0;
  width: 1.5rem;
  height: calc(100% + 1.5rem);
}

.hand-left {
  left: -1.4rem;
}

.hand-right {
  right: -1.4rem;
}

.hand-top {
  position: absolute;
  top: 0;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primary);
}

.arm,
.forearm {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1rem;
  height: 2.2rem;
  background: var(--color-primary);
}

.arm {
  top: 0.5rem;
  transform-origin: top center;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}

.arm-below-container {
  position: absolute;
  top: 2.9rem;
  height: 100%;
  width: 100%;
  transform-origin: top center;
}

.hand-left .arm {
  animation: armRotate1 0.3s 1s forwards, armRotate2 0.3s 1.4s forwards,
    armRotate3 0.3s 1.8s forwards, armRotate6 0.3s 3.4s forwards,
    armRotate7 0.3s 3.8s forwards;
}

.hand-right .arm {
  animation: armRotate4 1.2s 1.8s forwards, armRotate5 0.3s 3s forwards;
}

.hand-left .arm-below-container {
  animation: forearmRotate1 0.3s 1s forwards, forearmRotate2 0.3s 1.4s forwards,
    forearmRotate3 0.3s 1.8s forwards, forearmRotate6 0.3s 3.4s forwards,
    forearmRotate7 0.3s 3.8s forwards;
}

.hand-right .arm-below-container {
  animation: forearmRotate4 1.2s 1.8s forwards, forearmRotate5 0.3s 3s forwards;
}

.forearm {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.wrist {
  position: absolute;
  top: 2.45rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1rem;
  height: 0.7rem;
  background: var(--color-primary);
  border-radius: 1rem;
}

.finger-cover {
  position: absolute;
}

.finger {
  position: absolute;
  top: 3.4rem;
}

.hand-right .finger {
  transform: scaleX(-1);
  left: auto;
}

.finger-pinky {
  left: 0;
}
.finger-ring {
  left: 0.4rem;
}
.finger-index {
  left: 0.8rem;
}
.finger-thumb {
  left: 1.3rem;
  top: 3.3rem;
}

.hand-right .finger-pinky {
  right: 0;
}
.hand-right .finger-ring {
  right: 0.4rem;
}
.hand-right .finger-thumb {
  right: 1.3rem;
}
.hand-right .finger-index {
  right: 0.8rem;
}

.finger::before {
  position: absolute;
  top: 0;
  width: 0.25rem;
  border-radius: 2rem;
  height: 0.5rem;
  transform: rotate(5deg);
  background: var(--color-primary);
}

.finger::after {
  position: absolute;
  top: 0.3rem;
  width: 0.25rem;
  border-radius: 2rem;
  height: 0.5rem;
  transform: rotate(-5deg);
  background: var(--color-primary);
}

.finger-ring::before {
  transform: rotate(8deg);
}
.finger-ring::after {
  height: 0.6rem;
  transform: rotate(-8deg);
}
.finger-index::before {
  transform: rotate(5deg);
}
.finger-index::after {
  height: 0.7rem;
  transform: rotate(-4deg);
}

.finger-thumb::before {
  transform: rotate(-20deg);
}

.finger-thumb::after {
  transform: rotate(20deg);
}

.feet-container {
  position: absolute;
  bottom: 0;
  height: 38%;
  width: 100%;
}

.foot {
  position: absolute;
  top: -1rem;
  height: calc(100% + 1rem);
  width: 1rem;
  transform-origin: top center;
}

.foot-left {
  left: 30%;
  animation: feetLeftJump 0.4s 4s ease-out forwards;
}
.foot-right {
  right: 30%;
  animation: feetRightJump 0.4s 4s ease-out forwards;
}

.thigh {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45%;
  background: var(--color-primary);
  border-radius: 1px;
}

.leg {
  position: absolute;
  top: calc(45% + 0.3rem);
  height: 55%;
  width: 100%;
  background: var(--color-primary);
}

.leg::before {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--color-primary);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.leg-right::before {
  left: 0;
}

.leg-left::before {
  right: 0;
  animation: legTap 0.5s 2;
  transform-origin: right center;
}

.shadow {
  position: absolute;
  top: calc(100% + 0.7rem);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 1.2rem;
  z-index: -1;
}

.shadow::after,
.shadow::before {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--color-shadow);
}

.shadow::before {
  right: 50%;
  border-radius: 1rem 0 0 1rem;
  animation: shadowWidth1 0.3s 1s forwards, shadowWidth2 0.3s 1.4s forwards,
    shadowWidth3 0.3s 1.8s forwards, shadowWidth6 0.3s 3.4s forwards,
    shadowWidth7 0.3s 3.8s forwards, shadowWidth8 0.4s 4s forwards;
}

.shadow::after {
  left: 50%;
  border-radius: 0 1rem 1rem 0;
  animation: shadowWidth4 1.2s 1.8s forwards, shadowWidth5 0.3s 3s forwards,
    shadowWidth9 0.4s 4s forwards;
}

@keyframes legTap {
  0%,
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) rotate(10deg);
  }
}

@keyframes armRotate1 {
  to {
    transform: rotate(90deg);
  }
}

@keyframes armRotate2 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(100deg);
  }
}

@keyframes armRotate3 {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(80deg);
  }
}

@keyframes armRotate4 {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-100deg);
  }
  66% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(-100deg);
  }
}

@keyframes armRotate5 {
  from {
    transform: rotate(-100deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes armRotate6 {
  from {
    transform: rotate(80deg);
  }
  to {
    transform: rotate(100deg);
  }
}

@keyframes armRotate7 {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(140deg);
  }
}

@keyframes forearmRotate1 {
  to {
    transform: rotate(90deg) translate(-2.4rem, 2.4rem);
  }
}

@keyframes forearmRotate2 {
  from {
    transform: rotate(90deg) translate(-2.4rem, 2.4rem);
  }
  to {
    transform: rotate(80deg) translate(-3.2rem, 2.2rem);
  }
}

@keyframes forearmRotate3 {
  from {
    transform: rotate(80deg) translate(-3.2rem, 2.2rem);
  }
  to {
    transform: rotate(100deg) translate(-1.5rem, 3rem);
  }
}

@keyframes forearmRotate4 {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-80deg) translate(3.2rem, 2.2rem);
  }
  66% {
    transform: rotate(-110deg) translate(1.1rem, 2.8rem);
  }
  100% {
    transform: rotate(-80deg) translate(3.2rem, 2.2rem);
  }
}

@keyframes forearmRotate5 {
  from {
    transform: rotate(-80deg) translate(3.2rem, 2.2rem);
  }
  to {
    transform: rotate(0) translate(0, 0);
  }
}

@keyframes forearmRotate6 {
  from {
    transform: rotate(100deg) translate(-1.5rem, 3rem);
  }
  to {
    transform: rotate(80deg) translate(-3.2rem, 2.2rem);
  }
}

@keyframes forearmRotate7 {
  from {
    transform-origin: top center;
    transform: rotate(100deg);
    top: 0.1rem;
    right: 2.4rem;
  }
  to {
    transform-origin: top center;
    transform: rotate(500deg);
    top: -1.4rem;
    right: 1.5rem;
  }
}

@keyframes shadowWidth1 {
  to {
    width: calc(60% + 4.5rem);
  }
}

@keyframes shadowWidth2 {
  from {
    width: calc(60% + 4.5rem);
  }
  to {
    width: calc(60% + 3rem);
  }
}

@keyframes shadowWidth3 {
  from {
    width: calc(60% + 3rem);
  }
  to {
    width: calc(60% + 2rem);
  }
}

@keyframes shadowWidth4 {
  0% {
    width: 60%;
  }
  33% {
    width: calc(60% + 5rem);
  }
  66% {
    width: calc(60% + 3rem);
  }
  100% {
    width: calc(60% + 5rem);
  }
}

@keyframes shadowWidth5 {
  from {
    width: calc(60% + 5rem);
  }
  to {
    width: 60%;
  }
}

@keyframes shadowWidth6 {
  from {
    width: calc(60% + 2rem);
  }
  to {
    width: calc(60% + 3rem);
  }
}

@keyframes shadowWidth7 {
  0% {
    width: calc(60% + 3rem);
  }
  25% {
    width: calc(60% + 1rem);
  }
  50% {
    width: calc(60% + 2.5rem);
  }
  75% {
    width: calc(60% + 1.5rem);
  }
  100% {
    width: calc(60% + 2.9rem);
  }
}

@keyframes shadowWidth8 {
  0% {
    width: calc(60% + 2.9rem);
  }
  50% {
    width: calc(60% - 0.5rem);
  }
  100% {
    width: calc(60% + 2.7rem);
  }
}

@keyframes shadowWidth9 {
  0% {
    width: 60%;
  }
  50% {
    width: calc(60% - 1rem);
  }
  100% {
    width: calc(60% + 1.5rem);
  }
}

@keyframes faceX1 {
  to {
    transform: translateX(-1rem);
  }
}

@keyframes faceX2 {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(1rem);
  }
}

@keyframes faceX3 {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(-1rem);
  }
}

@keyframes skeletonJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6rem);
  }
  100% {
    transform: translateY(4.8rem);
  }
}

@keyframes feetLeftJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(5rem) rotate(90deg);
  }
}

@keyframes feetRightJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(5rem) rotate(-90deg);
  }
}

/* HALLOWEENI LEHT */
.Halloween-page {
  background-color: #272728;
}

.halloween__tekst {
  font-family: "Josefin Sans", sans-serif;
}

.tooted__pealkiri__halloween {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 20px;
}

#headphone-right,
#headphone-left {
  fill: #847eff;
}

#headphone-padding-left,
#headphone-padding-right {
  fill: rgba(225, 225, 246, 0.6);
}

#shoe-right,
#shoe-left {
  fill: rgba(255, 255, 255, 0.8);
}

#sock-left,
#sock-right {
  fill: #d1d1ff;
}

#shirt-belly,
#sleeve-right,
#sleeve-left {
  fill: rgba(225, 225, 246, 0.97);
}

#headphone-band,
#sleeve-right,
#sleeve-left {
  opacity: 0.7;
}

body {
  font-family: "Roboto";
}

.banner-intro {
  background-color: #6969d2;
  margin-top: -160px;
  height: 550px;
}

.banner-intro h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 120px;
  line-height: 1.5;
  font-family: "Metrophobic";
}

.banner-intro h1:first-child {
  padding-top: 45px;
}

@media screen and (max-width: 990px) {
  .banner-intro h1 {
    font-size: 100px;
    line-height: 1.5;
  }

  .banner-intro h1:first-child {
    padding-top: 70px;
  }
}

@media screen and (max-width: 650px) {
  .banner-intro h1 {
    font-size: 90px;
    line-height: 1.5;
  }

  .banner-intro h1:first-child {
    padding-top: 70px;
  }
}

h3.subtitle-intro {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 39px;
  font-weight: 400;
  color: rgba(105, 105, 210, 0.7);
  color: rgba(0, 0, 0, 0.65);
}

li h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

li {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

li:last-child {
  margin-bottom: 30px;
}

/* FOOTER AND SOCIAL ICONS */
footer {
  text-align: center;
  font-size: 20px;
  margin-top: 15%;
}

.white-footer {
  color: white;
}

.center {
  align-items: center;
  width: 100%;
}

.must__tekst {
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

.social-icons {
  display: flex;
  font-size: 20px;
  margin-top: 40px;
  justify-content: center;
}

.fab {
  padding: 5px;
  color: #0196fa;
}

.fab:hover {
  color: rgb(27, 6, 221);
  transition: 0.5s;
}

/* TOOTED JA OSTUKORV LEHT */
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  display: flex;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 50%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

.ostukorv {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(77, 77, 77);
  font-family: "Roboto", sans-serif;
}

.cart svg {
  fill: white;
  width: 50px;
  height: 50px;
  margin-top: -2px;
  cursor: pointer;
}
.cart svg:hover {
  fill: #0196fa;
}

.blackcart svg {
  fill: black;
  width: 50px;
  height: 50px;
  margin-top: -2px;
  cursor: pointer;
}

.blackcart svg:hover {
  fill: #0196fa;
}

.total-price {
  padding-left: 20px;
  padding-top: 25px;
  font-size: 18px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container1 {
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/* FIRMA TUTVUSTUS */
.firma-tekst {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  padding: 20px 20%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

#firma-pilt {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contact-info {
  display: flex;
}

.contact-info__left {
  background-color: #9d9fa0;
  width: 50%;
  padding-top: 170px;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
}
.contact-info__right {
  width: 50%;
}

table {
  margin: 0 auto;
  line-height: 160%;
}

iframe {
  height: 450px;
  width: 100%;
}

input[type="submit"] {
  background-color: #0196fa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1f5a81;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.SAADA_JA_CLAIMER {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-start: 1fr;
  grid-column-start: 1fr;
}

#CLAIMER {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.saada__kiri {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px 25%;
}
